@use "sass:math";

@import "_normalize";
@import "_montserrat";
@import "_variables";

@import "../components/chain-item";
@import "../components/splash-screen";

@import "../layouts/default";

//@import "../pages/asset";
@import "../pages/balance";
@import "../pages/landing";

body {
  background-color: $blue-dark;
  color: $gray-1;
  font-family: "Montserrat";
  min-width: 22.5rem;
  overflow-x: hidden;
}

.ant-btn-link {
  border: none;
  height: auto;
  padding: 0;
}

.ant-dropdown {
  width: 17.5rem;

  .ant-dropdown-menu-item-icon {
    fill: $gray-1;
    height: 1.25rem;
  }

  .ant-dropdown-menu-item-group-title {
    color: $gray-6 !important;
    font-weight: 500;
  }

  .ant-dropdown-menu-item {
    color: $gray-1 !important;
    font-size: 0.875rem;
    line-height: 1.75rem !important;
  }

  .ant-dropdown-menu {
    background-color: $blue-base !important;
  }
}

.ant-select {
  height: 3rem;

  .ant-select-selection-item {
    color: $gray-1 !important;
  }

  .ant-select-selector {
    background-color: $blue-base !important;
    border: none !important;
    box-shadow: none !important;
  }

  .ant-select-arrow {
    .anticon {
      color: $gray-1;
    }
  }
}

.ant-select-dropdown {
  background-color: $blue-base;

  .ant-select-item-option-selected {
    background-color: rgba($color: $gray-1, $alpha: 0.1) !important;
  }

  .ant-select-item {
    color: $gray-1 !important;
    line-height: 1.75rem;
  }
}

.ant-spin {
  &.center-spin {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
