@use "sass:math";

@import "_normalize";
@import "_montserrat";
@import "_variables";

@import "../layouts/default";

@import "../pages/asset";
@import "../pages/balance";
@import "../pages/landing";

body {
  background-color: $blue-dark;
  color: $gray-1;
  font-family: "Montserrat";
  min-width: 22.5rem;
  overflow-x: hidden;
}

.ant-btn-link {
  border: none;
  height: auto;
  padding: 0;
}

.ant-dropdown {
  width: 17.5rem;

  .ant-dropdown-menu-item-group-title {
    color: $gray-6 !important;
    font-weight: 500;
  }

  .ant-dropdown-menu-item {
    color: $gray-1 !important;
    font-size: 0.875rem;
    line-height: 1.75rem !important;
  }

  .ant-dropdown-menu {
    background-color: $blue-base !important;
  }
}

.ant-select {
  height: 3rem;

  .ant-select-selection-item {
    color: $gray-1 !important;
  }

  .ant-select-selector {
    background-color: $blue-base !important;
    border: none !important;
    box-shadow: none !important;
  }

  .ant-select-arrow {
    .anticon {
      color: $gray-1;
    }
  }
}

.ant-select-dropdown {
  background-color: $blue-base;

  .ant-select-item-option-selected {
    background-color: rgba($color: $gray-1, $alpha: 0.1) !important;
  }

  .ant-select-item {
    color: $gray-1 !important;
    line-height: 1.75rem;
  }
}

.splash-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .logo {
    height: 200px;
    margin: 0 auto;
  }

  .heading {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 1rem 0 2rem;
  }

  .text {
    font-size: 1.25rem;
  }
}
